<div class="row;">
  <div class="col-xs-12 col-sm-6 col-lg-3 example-col">
    <p>Solid Button</p>
    <button kendoButton (click)="onClick()">Browse</button>
    <button kendoButton (click)="onClick()" [svgIcon]="folderSVG">
      Browse
    </button>
    <button
      kendoButton
      (click)="onClick()"
      [svgIcon]="folderSVG"
      title="Browse"
    ></button>
  </div>

  <div class="col-xs-12 col-sm-6 col-lg-3 example-col">
    <p>Flat Button</p>
    <button kendoButton (click)="onClick()" fillMode="flat">Browse</button>
    <button
      kendoButton
      (click)="onClick()"
      [svgIcon]="folderSVG"
      fillMode="flat"
    >
      Browse
    </button>
    <button
      kendoButton
      (click)="onClick()"
      [svgIcon]="folderSVG"
      fillMode="flat"
      title="Browse"
    ></button>
  </div>

  <div class="col-xs-12 col-sm-6 col-lg-3 example-col">
    <p>Outline Button</p>
    <button kendoButton (click)="onClick()" fillMode="outline">Browse</button>
    <button
      kendoButton
      (click)="onClick()"
      [svgIcon]="folderSVG"
      fillMode="outline"
    >
      Browse
    </button>
    <button
      kendoButton
      (click)="onClick()"
      [svgIcon]="folderSVG"
      fillMode="outline"
      title="Browse"
    ></button>
  </div>

  <div class="col-xs-12 col-sm-6 col-lg-3 example-col">
    <p>Clear Button</p>
    <button kendoButton (click)="onClick()" fillMode="clear">Browse</button>
    <button
      kendoButton
      (click)="onClick()"
      [svgIcon]="folderSVG"
      fillMode="clear"
    >
      Browse
    </button>
    <button
      kendoButton
      (click)="onClick()"
      [svgIcon]="folderSVG"
      fillMode="clear"
      title="Browse"
    ></button>
  </div>

  <div class="col-xs-12 col-sm-6 col-lg-3 example-col">
    <p>Link Button</p>
    <button kendoButton (click)="onClick()" fillMode="link">Browse</button>
    <button
      kendoButton
      (click)="onClick()"
      [svgIcon]="folderSVG"
      fillMode="link"
    >
      Browse
    </button>
    <button
      kendoButton
      (click)="onClick()"
      [svgIcon]="folderSVG"
      fillMode="link"
      title="Browse"
    ></button>
  </div>
</div>
