<div class="form-signing w-30 m-auto" [formGroup]="registerForm">
  <div class="form-floating">
    <input
      type="text"
      class="form-control"
      id="username"
      placeholder="Username"
      formControlName="username"
    />
    <label for="username"> Username </label>
    @if (usernameErrorMessage) {
    <div class="text-danger">{{ usernameErrorMessage }}</div>
    }
  </div>
  <div class="form-floating">
    <input
      type="password"
      class="form-control"
      id="password"
      placeholder="Password"
      formControlName="password"
    />
    <label for="password"> Password </label>
    @if (passwordErrorMessage) {
    <div class="text-danger">{{ passwordErrorMessage }}</div>
    }
  </div>
  <div class="form-floating">
    <input
      type="password"
      class="form-control"
      id="confirmPassword"
      placeholder="Confirm password"
      formControlName="confirmPassword"
    />
    <label for="confirmPassword"> Confirm password </label>
    @if (confirmPasswordErrorMessage) {
    <div class="text-danger">{{ confirmPasswordErrorMessage }}</div>
    }
  </div>
</div>
