<kendo-appbar position="top">
  <kendo-appbar-section>
    <button kendoButton fillMode="flat">
      <kendo-svgicon [icon]="menuIcon"></kendo-svgicon>
    </button>
  </kendo-appbar-section>

  <span class="k-appbar-separator"></span>

  <kendo-appbar-section>
    <div class="title" routerLink="/playground">Playground</div>
  </kendo-appbar-section>

  <span class="k-appbar-separator"></span>

  <kendo-appbar-section>
    <ul>
      <li routerLink="./buttons"><span>Buttons</span></li>
      <li routerLink="./date-inputs"><span>Date inputs</span></li>
      <li routerLink="./dropdowns"><span>Dropdowns</span></li>
      <li routerLink="./grid"><span>Grid</span></li>
      <li routerLink="./inputs"><span>Inputs</span></li>
    </ul>
  </kendo-appbar-section>

  <kendo-appbar-spacer></kendo-appbar-spacer>
</kendo-appbar>
