@if (formRef) {
<div class="form-signing w-30 m-auto" [formGroup]="formRef">
  <div class="__username-fc">
    <div class="form-floating">
      <input
        type="text"
        class="form-control"
        id="username"
        placeholder="Username"
        formControlName="username"
      />
      <label for="username"> Username </label>
    </div>
    @if (formRef.usernameCtrl.invalid && (formRef.usernameCtrl.touched ||
    formRef.usernameCtrl.dirty)) {
    <div class="errors">
      @if (formRef.usernameCtrl.hasError('required')) {
      <div>This field is required</div>
      }
    </div>
    }
  </div>
  <div class="__password-fc">
    <div class="form-floating">
      <input
        type="password"
        class="form-control"
        id="password"
        placeholder="Password"
        formControlName="password"
      />
      <label for="password"> Password </label>
    </div>
    @if (formRef.passwordCtrl.invalid && (formRef.passwordCtrl.touched ||
    formRef.passwordCtrl.dirty)) {
    <div class="errors">
      @if (formRef.passwordCtrl.hasError('required')) {
      <div>This field is required</div>
      }
    </div>
    }
  </div>
</div>
}
