@if (data) {
<div class="col __account-info">
  <div class="card mb-4 rounded-3 shadow-sm __account-info-header-container">
    <div class="card-header py-3 __account-info-header">
      <h4 class="my-0 fw-normal __account-info-header-text">User info</h4>
    </div>
    <div class="card-body __account-info-body">
      <div class="__account-id">Id: {{ data.id }}</div>
      <div class="__account-username">Username: {{ data.username }}</div>
      <div class="__account-password">Password: {{ data.password }}</div>
    </div>
  </div>
</div>
}
